body {
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari*/
    -khtml-user-select: none; /* Konqueror */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* Internet Explorer/Edge */
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
    font-family: "Lucida Console", Monaco, monospace;
    font-size:25px;
    font-weight: bold;
    text-align: center;
}
#currentTime {
    font-size: 45px;
}
#wrapper{
    width: 360px;
    height: 336px;
    /*background-image: url("images/card.png");
    background-repeat: no-repeat;
    background-position: center; */

}
#header{
    width: 100%;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: white;
}
#controls {
    /*margin-top:140px;*/
    width: 100%;
    text-align: center;
    background-color: white;
    border: 4px solid black;
}
.glyphicon {
    color: black;
    font-size: 50px;
    top: 0.2em;
}

.glyphicon:hover {
    color: red;
}
#ad{
    /*margin-top:100px;*/
    border: 4px solid black;
}